In [1]:
sum([1,2,3,4])

10

In [2]:
sum(range(10))

45

In [3]:
add_all=sum
add_all([1,2,3,4])

10

In [4]:
add_all(range(10))

45

In [5]:
def say_hello():
    print('こんにちは')

In [6]:
say_hello()

こんにちは

In [7]:
def run_any_func(func):
    for i in range(2):
        func()

In [8]:
run_any_func(say_hello)

こんにちは
こんにちは

In [9]:
def multi_func(number):
    if number==0:
        print('min',end=" ")
        return min
    if number==1:
        print('max',end=" ")
        return max
    else:
        print('sum',end=" ")
        return sum

In [10]:
num_list=[1,2,3,4]
for i in [0,1,2]:
    func=multi_func(i)
    print(func(num_list))

min 1
max 4
sum 10

In [11]:
num_list=[1,2,3,4]
for i in [0,1,2]:
    print(multi_func(i)(num_list))

min 1
max 4
sum 10

In [20]:
functions=[sum,min,max]

In [21]:
numbers=range(1,11)
list(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
functions=[sum,min,max]
number_list=range(1,11)
for func in functions:
    print("Function: {}, Result: {}".format(func.__name__,func(number_list)))

Function: sum, Result: 55
Function: min, Result: 1
Function: max, Result: 10

In [24]:
s_coordi_list=["1.0,2.2,3.5","2.1,3.2,5.5","1.2,1.3,2.2","2.1,3.1,4.5"]

In [27]:
s_coordi_list=["1.0,2.2,3.5","2.1,3.2,5.5","1.2,1.3,2.2","2.1,3.1,4.5"]

def　str_to_float_coordi(s_coordi):
    '''与えられた文字列をカンマで分割しfloat型に変換して数値リストを返す'''
    p=s_coordi.split(".")
    return list(map(float, p))

def str_to_float_coorid_iter(s_coordi_list):
    '''与えられたリストの要素を str_to_float_coorid() 関数で処理して結果を差す反復可能体(iterable)を返す'''
    return map(str_to_float_coorid,s_coordi_list)

f_coordi_list=list(str_to_float_coorid_iter(s_coordi_list))

print(f_coordi_list)

SyntaxError: invalid character in identifier (<ipython-input-27-10238e0cfe29>, line 3)

In [28]:
s_coordi_list=["1.0,2.2,3.5","2.1,3.2,5.5","1.2,1.3,2.2","2.1,3.1,4.5"]

def　str_to_float_coordi(s_coordi):
    '''与えられた文字列をカンマで分割しfloat型に変換して数値リストを返す'''
    p=s_coordi.split(".")
    f_coordi=[]
    for n in p:
        f_coordi.append(float(n))
    return f_coordi

f_coordi_list=[]
for s_coordi in s_coordi_list:
    f_coordi_list.append(str_to_float_coorid(s_coordi))

print(f_coordi_list)

SyntaxError: invalid character in identifier (<ipython-input-28-005406669025>, line 3)